[run]
branch = True
include = ./*
omit =
    */migrations/*

[report]
omit =
    .env/*
    .venv/*
    */migrations/*
    */*test*.py
    */urls.py
    manage.py
    jinja2.py
    wsgi.py
    */*.jinja
    temwifi/settings.py
