{% extends "core/base.jinja" %}

{% block container %}
<h1>Places</h1>
<div class="panel list-group">
  {% for place in places %}
    <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sm"><strong>{{ place.name }}</strong> <small>{{ place.address}}, {{ place.city }}, {{ place.state }}, {{ place.country }}</small>

      {% set full_stars = place.get_ratings()['overall__avg']|int %}
      {% set empty_stars = 5 - full_stars %}

      {% for _ in range(empty_stars) %}
        <span class="glyphicon glyphicon-star-empty pull-right"></span>
      {% endfor %}

      {% for _ in range(full_stars) %}
        <span class="glyphicon glyphicon-star pull-right"></span>
      {% endfor %}

        <span class="fa fa-wifi"></span>Yes, 10 Mbps, Open, Closed, Password: xhaifh
    </a>
     <div id="sm" class="collapse">
       this is the rest of the place info
     </div>
  {% endfor %}
</div>
{% endblock container %}
